
title{
    color: var(--Black, #070707);
    font-family: 'Lato';
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 80% */
}

h2{
    color: #000;
    font-family: 'Lato';
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 128% */
}

h3{
    color: #000;
    font-family: 'Lato';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.body1{
    color: #ffffff;
    font-family: "lato", sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    line-height: 32px; /* 128% */
    text-align: center;
}

.body2{
    color: #000;
font-family: 'Lato';
font-size: 20px;
font-style: light;
font-weight: 400;
line-height: normal;
}

caption{
    color: var(--White, #FFF);
font-family: 'Lato';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* label */
label{
    color: #FFF;
text-align: center;
font-family: 'Lato';
font-size: 24px;
font-style: bold;
font-weight: 400;
line-height: normal;
}

/* get involved section below */
.getinvolved{
    background-color: #C8102E;
    height: 856px;
    padding: 60px 350px;
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Field input*/
input[type=text] {
    width: 311px;
    height: 61px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

leftBox{
    float: left;
    width: 100px;
}

rightBox{
    float: right;
    width: 100px;
    margin-left: 60px;
}

/* text area */
textarea {
    width: 688px;
    height: 127px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    flex-direction: column;
    align-items: center;
}

/* i want to be a part button */
button[type=button], button[type=submit], button[type=reset] {
    background-color: #000000;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 20px 32px;
    font-family: 'Lato';
    font-size: 14px;
    text-decoration: none;
    margin: 4px auto;
    cursor: pointer;
    align-items: center;
    display: flex;
  }

  /*container*/
  .container{
    width: 1200px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background: var(--NeU-Red, #C8102E);
  }

  .column{
    display: flex;
    flex-direction: row;
  }

  /*radiobutton*/

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    background-color: #eee;
    border-radius: 50%;
    border-color: #000;
  }

  .container1 {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-right: 20px;
    margin-bottom: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  .container1 input{
    position:absolute;
      opacity: 0;
      cursor: pointer;
  }
  /* On mouse-over, add a grey background color */
  .container1:hover input ~ .checkmark {
    background-color: white;
    border-color: black;
  }
  /* When the radio button is checked, add a red background */
  .container1 input:checked ~ .checkmark {
    background-color: white;
    border-color: black;
    border-width: 50px;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container1 input:checked ~ .checkmark:after {
    display: inline;
    border-color: black;
  }
  
  /* Style the indicator (dot/circle) */
  .container1 .checkmark:after {
       top: 3.5px;
      left: 3.5px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: black;
  }

  .options {
margin-bottom: 50px;
display: inline;
  }

  .thirdoption{
    margin-top: 30px;
  }