
title{
    color: var(--Black, #070707);
    font-family: 'Lato';
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 80% */
}

h2{
    color: #000;
    font-family: 'Lato';
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 128% */
}

h3{
    color: #000;
    font-family: 'Lato';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

body .body1{
    color: #000;
    font-family: 'Lato';
    font-size: 25px;
    font-style: normal;
    font-weight: lighter;
    line-height: 32px; /* 128% */
}

body .body2{
    color: #000;
font-family: 'Lato';
font-size: 20px;
font-style: light;
font-weight: 400;
line-height: normal;
}

caption{
    color: var(--White, #FFF);
font-family: 'Lato';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* label */
label{
    color: #FFF;
text-align: center;
font-family: 'Lato';
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/* get involved section below */
.getinvolved{
    background-color: #C8102E;
    height: 856px;
    width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Field input*/
input[type=text] {
    width: 311px;
    height: 61px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

leftBox{
    float: left;
    width: 100px;
}

rightBox{
    float: right;
    width: 100px;
    margin-left: 60px;
}

/* text area */
textarea {
    width: 688px;
    height: 127px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    flex-direction: column;
    align-items: center;
}

/* i want to be a part button */
input[type=button], input[type=submit], input[type=reset] {
    background-color: #000000;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 20px 32px;
    font-family: 'Lato';
    font-size: 14px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  /*container*/
  .container{
    width: 1200px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background: var(--NeU-Red, #C8102E);
  }

  .column{
    display: flex;
    flex-direction: row;
  }